<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Georgia's Log In Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <article class="wrapper" id="home">
      <h2>You are logged in!{{username}}</h2>

    </article>

  </body>
</html>
